.movie-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie-card > img {
  width: 15vh;
  border-radius: 20px;
  margin: 10px;
}
.poster-img:hover {
  transform: scale(.95);
}

.movie-card > p {
  align-self: center;
}

a {
  text-decoration: none;
}