* {
  font-family: 'Oswald', sans-serif;}

.App-header {
  background-color: #22223B;
  height: 12vh;
  top: 0;
  width: 100%;
  color:#F2E9E4;
  font-size: 8vh;
  font-weight: bolder;
}

.App {
  display: flex;
  flex-flow: column;
  background-color: #22223B;
}

.movie-logo {
  float: right;
  height: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .App-header {
    font-size: 7vh;
  }
}

@media screen and (max-width: 550px) {
  .App-header {
    font-size: 5vh;
  }
}
