
.App-header {
  background-color: rgb(223, 221, 221);
  height: 12vh;
  top: 0;
  width: 100%;
  color:rgba(73, 61, 116, 0.671);
  font-size: 10vh;
}

.App {
  display: flex;
  flex-flow: column;
}

.movie-logo {
  float: right;
  height: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .App-header {
    font-size: 7vh;
  }
}

@media screen and (max-width: 500px) {
  .App-header {
    font-size: 5vh;
  }
}
